.App {
  text-align: left;
  /* margin: 10px 10px 10px 10px; */
  display: grid;
  grid-template-rows: 70px;
  background-color: rgb(121, 201, 233);
  padding: 10px 10px 10px 10px;
}

body {
  background-color: rgb(121, 201, 233);
}

.title {
  margin: 0px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

.App-link {
  color: #61dafb;
}

.articles {
  margin: 0px 0px;
}

.select {
  margin: 0px;
}

.button {
  margin: 10px;
}

.votes {
  margin: 100px 100px;
}

.deleteButton {
  margin: 15px 0px;
}
