.App {
  text-align: left;
  margin: 25px auto;
  display: grid;
  grid-template-rows: 70px;
  width: 95%;
  background-color: rgb(121, 201, 233);
}

body {
  background-color: rgb(86, 86, 223);
}

.title {
  margin: 0px auto;
}

.App-link {
  color: #61dafb;
}

.articles {
  margin: 0px 10px;
}

.select {
  margin: 0px;
}

.button {
  margin: 10px;
}

.votes {
  margin: 100px 100px;
}

.deleteButton {
  margin: 15px 0px;
}
