.App {
  text-align: left;
  display: grid;
  grid-template-rows: 70px;
  background-color: white;
  padding: 10px 10px 10px 10px;
}

body {
  background-color: white;
}

.title {
  margin: 0px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  color: red;
}

/* h1 {
  border: 3px solid gray;
  width: 165px;
  height: 40px;
} */

#home {
  text-align: center;
  margin: -135px;
}

.App-link {
  color: #61dafb;
}

.articles {
  /* border: 3px solid gray; */
  /* width: 1400px;
  margin: 10px 0px; */
}

.select {
  margin: 0px;
}

.button {
  margin: 10px;
}

.votes {
  margin: 100px 100px;
}

.deleteButton {
  margin: 15px 0px;
}
